@import "src/theme/mixins";

.Layout {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1220px;
  padding: 60px;

  &Center {
    @include flexCenter;
    height: 100vh;
  }
}
