@font-face {
  font-family: "Sora Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/Sora-Regular.woff2") format("woff2"),
}

@font-face {
  font-family: "Sora Bold";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/Sora-Bold.woff2") format("woff2"),
}