$transition-time: 0.15s;
$border-radius: 4px;

//colors
$primary-dark-brown: #3d261c;
$primary-gray: #9e938d;
$primary-light-brown: #d3c4ad;
$primary-light-gray: #c5bebb;
$primary-pearl-whiter: #f6f3ef;
$primary-pearl-white: #ede7de;
$primary-white: #ffffff;

$main-background: $primary-pearl-whiter;

//font
$family-title: 'Unbounded', 'Arial', sans-serif;
$family-primary-bold: 'Sora Bold', 'Arial', sans-serif;
$family-primary-regular: 'Sora Regular', 'Arial', sans-serif;

$small-size: 12px;
$primary-size: 14px;
$title-size: 32px;

$weight-medium: 600;
$weight-regular: 400;