//colors
$primary-dark-brown: #3d261c;
$primary-gray: #9e938d;
$primary-light-brown: #d3c4ad;
$primary-light-gray: #c5bebb;
$primary-pearl-whiter: #f6f3ef;
$primary-pearl-white: #ede7de;
$primary-white: #ffffff;
$primary-timber-wolf: #d8d4d2;

$main-background: $primary-pearl-whiter;

//fonts
$family-title: 'Unbounded', 'Arial', sans-serif;
$family-primary-bold: 'Sora Bold', 'Arial', sans-serif;
$family-primary-regular: 'Sora Regular', 'Arial', sans-serif;

$font-tiny-size: 10px;
$font-small-size: 12px;
$font-size-base: 14px;
$font-size-large: 16px;
$font-size-title-small: 28px;
$font-size-title: 32px;
$font-size-big: 48px;

$weight-medium: 600;
$weight-regular: 400;

//gaps
$outer-gap: 28px;
$inner-gap: 20px;
$item-gap: 12px;

//others
$transition-time: 0.15s;
$border-radius: 4px;
$border-radius-big: 8px;
$border-radius-enormous: 12px;
