@import "normalize";
@import "fonts";
@import "variables";
@import "mixins";
@import "animations";

body {
  font-size: $font-size-base;
  line-height: 1.3;
  font-weight: $weight-regular;
  font-family: $family-primary-regular;
  color: $primary-dark-brown;
  font-style: normal;
  background-color: $main-background;
}

img {
  max-width: 100%;
  height: auto;
}

*, *:after, *:before {
  box-sizing: border-box;
}

:global(.title) {
  margin-top: 0;
  font-family: $family-title;
  color: $primary-dark-brown;
  font-size: $font-size-title-small;
}

:global(hr) {
  margin: 25px 0;
  height: 1px;
  background-color: $primary-timber-wolf;
  border: none;
}