@import "src/theme/variables";

.ProductDescription {
  display: flex;

  .ButtonWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: $item-gap;
    flex-wrap: wrap;
  }

  .Button {
    display: flex;
    flex-direction: column;
    padding: 8px 19px;
    height: 56px;
    width: 91px;
    font-size: $font-small-size;
    line-height: 1.4;

    &:not(:disabled):hover .Price,
    &:not(:disabled):focus-visible .Price {
      color: $primary-light-brown;
    }
  }

  .Price {
    color: $primary-gray;
    font-size: $font-size-base;
  }
}

.LeftColumn {
  height: 540px;
  max-height: 540px;
  min-width: 660px;
  margin-right: 40px;
  border: 1px solid $primary-timber-wolf;
  border-radius: $border-radius-enormous;

  img {
    transition: transform $transition-time linear;

    &:hover {
      transform: scale(1.1) rotate(-1deg);
    }
  }
}

.Info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr auto;
  grid-column-gap: 20px;
  grid-row-gap: 16px;

  &FullWidth {
    grid-column: 1 / span 2;
  }

  &Title {
    margin-top: 0;
    margin-bottom: 5px;
    color: $primary-light-gray;
    font-size: $font-small-size;
    font-weight: $weight-medium;
    text-transform: uppercase;
  }
}

